doctype html
html
	head
		meta(charset="utf-8")
		title Connoisseur International
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700",900, rel="stylesheet", type="text/css")
		link(rel='stylesheet' href='assets/css/style-dark.css')
		
	body#top
		include common/header.pug
		main
			include common/our-company.pug
			include common/services.pug
			include common/tracking.pug
			include common/about.pug
			include common/destinations.pug
			include common/feedback.pug
			include common/footer.pug
			include common/modals.pug
			include common/cookies-modal.pug
		script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous") 
		script(src='assets/js/foundation.js')
		script(src='assets/js/app.js')
		script(src='assets/js/swiper.js')
		script(src='assets/js/particles.min.js')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQxea9uuYkd3uIsN1ph9z3VKkNOP5wKQ8")
		script(src='assets/js/jquery.cookie.js')
		script(src='assets/js/google-map.js')
		script(src='assets/js/main.js')