doctype html
html
	head
		meta(charset="utf-8")
		title Connoisseur International
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700",900, rel="stylesheet", type="text/css")
		link(rel='stylesheet' href='assets/css/style-dark.css')
		script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src='assets/js/foundation.js' defer)
		script(src='assets/js/app.js' defer)
		script(src='assets/js/swiper.js' defer)
		script(src='assets/js/main.js' defer)
	body
		include common/header.pug
		main
			include common/our-company.pug
			include common/services.pug
			include common/tracking.pug
			include common/about.pug
			include common/feedback.pug

	
