
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  color: #fff;
  z-index: 2;
  text-align: center;
  font-weight: 900;
  background-position: center;
  background-size: cover;
  padding: 50px;
  width: 300px;
  position: relative;

  &:before {
  	z-index: -1;
  	content: "";
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: rgba(0,0,0,0.49);
  }
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(1) {
	background-image: url(https://cid.uk.com/images/services/special-services.jpg);
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(2) {
	background-image: url(https://cid.uk.com/images/services/relocation.jpg);
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(3) {
	background-image: url(https://cid.uk.com/images/services/auction-wines.jpg);
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(4) {
	background-image: url(https://cid.uk.com/images/services/private-aircraft.jpg);
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(5) {
	background-image: url(https://cid.uk.com/images/services/luxuryYachts.jpg);
}

.swiper-container--first .swiper-wrapper .swiper-slide:nth-child(6) {
	background-image: url(https://cid.uk.com/images/services/road-freight.jpg);
} 



.swiper-container--second .swiper-wrapper .swiper-slide:nth-child(1) {
	background-image: url(https://cid.uk.com/images/services/courier.jpg);
}

.swiper-container--second .swiper-wrapper .swiper-slide:nth-child(2) {
	background-image: url(https://cid.uk.com/images/services/sea-freight.jpg);
}

.swiper-container--second .swiper-wrapper .swiper-slide:nth-child(3) {
	background-image: url(https://cid.uk.com/images/services/eCouriers.jpg);
}

.swiper-container--second .swiper-wrapper .swiper-slide:nth-child(4) {
	background-image: url(https://cid.uk.com/images/services/air.jpg);
}

.swiper-container--second .swiper-wrapper .swiper-slide:nth-child(5) {
	background-image: url(https://cid.uk.com/images/services/import.jpg);
}
 