@import "bootstrap";
@import "swiper";
@import "my-swiper";




header {
	text-transform: uppercase;	
	width: 100%;
	height: 100vh;
	color: #f1f1f1;
	font-weight: 900;
	background: transparent url(../img/bg-header.jpg) bottom left no-repeat;
	background-size: cover;
	
	.navbar {
		padding: 20px 10px;	
		background-color:#323232;
	}
	.navbar-brand,
	.nav-link {
		color:#fff;
	}

	.navbar-brand {
		font-size: 1.21rem;
	}


	.navbar-toggler-icon {
		    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	.header-content {
		min-height: 510px;
		display: flex;
   	 	align-items: center;
    	height: 100vh;
		position: relative;
    	h1 {
    		font-size: 3.1rem;
    	}

    	p {
    		font-size: 1.2rem;
    	}

    	a {
    		font-weight: 900;
    	}

    	&:before {
    		width: 100%;
    		height: 100%;
    		content: "";
    		position: absolute;
    		top: 0;
    		background-color: rgba(0,0,0,0.20);
    		left: 0;
    	}
	}
}

@media(max-width: 1199px) {
	header .nav-link{
		font-size: 0.8rem;
	}
	header .navbar-brand{
		font-size: 1.14rem;
	}
	
} 



#our-company {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #26292e;

	.card {
		background-color: #26292e; 
	}

	h2 {
		text-align: center;
		position: relative;
		color: #fff;
		font-size: 3rem;
		margin-bottom: 40px;
		&:before {
			content: "";
			bottom: -10px;
			left: 0;
			width: 100%;
			height: 2px;
			position: absolute;
			background-color: #585b62;
		}
	}
}

#services {
	position: relative;
	background-color: #2f3238;
	
	.swiper-container {
		padding-top: 185px;
	padding-bottom: 100px;
	}

	.parallax-bg {
		padding-top: 80px;
	}
	h2 {
		text-align: center;
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 40px;
	}

	.dropdown {
		position: absolute;
		bottom: 40px;
		left: 20px;
		z-index:100;

		button {
			color:#fff;
			font-weight: bold;
		}
		.dropdown-item:hover {
			text-decoration: underline;
			background-color: transparent;
			cursor: pointer;
		}

		.dropdown-menu {
			background-color: #2f2e2e;
		}
	}
}

@media(max-width:420px ) {
		
		header .container {
			padding-bottom: 35px;
		}
		header .navbar {
			padding-top: 8px;
		padding-bottom: 8px;
		}

		header .header-content {
			align-items: flex-end;
		}

		header .header-content h1 {
    		font-size: 2.9rem;
		}
		header .navbar-brand {font-size: 0.9rem;
		  }
	}

#tracking {
	position: relative;
    z-index: 1;
    text-align: center;
    background: url(../img/tracking-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    &:before{
    	z-index: -1;
  	content: "";
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: rgba(0,0,0,0.49);
    }

 
	
	h2 {
		text-align: center;
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 10px;
	}
 


.form-control {
  color: #ddd;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  outline: none;
  min-width: 100%;
  font-size: 1.5rem;
  line-height: 2.3em;
  font-family: Roboto, Arial, sans-serif;
  border: 2px solid #fff;
  background-color: #087efa;
  transition: transform 0.4s ease-out; 
}

.form-control::-webkit-input-placeholder       {text-indent: 0px;  text-align: center;  color:#fff;  transition: text-indent 0.3s ease;}
.form-control::-moz-placeholder                {text-indent: 0px;  text-align: center;  color:#fff;  transition: text-indent 0.3s ease;}
.form-control:-moz-placeholder                 {text-indent: 0px;  text-align: center;  color:#fff; transition: text-indent 0.3s ease;}
.form-control:-ms-input-placeholder            {text-indent: 0px;  text-align: center;  color:#fff;  transition: text-indent 0.3s ease;}
.form-control:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-control:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-control:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-control:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.form-control:hover {
	transform: scale(1.09);
	transition: transform 0.4s ease-out; 
}

    .btn-warning {
    	color: #fff;
    	font-weight: 700;
    }

    p {
    	color: #dadada;
    	font-weight: 900;
    	font-size: 1.2rem;
    }
}

#about {
	padding-bottom: 20px;
	background-color: #2f3238;
	h2 {
		padding-left: 10px;
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 10px;
	}
	p {
		padding: 10px 20px;
		padding-left: 40px;
		font-size: 1.1rem;
		color: #a6a7aa;
		position: relative;
	}
 	
 	p:before {
 			position: absolute;
  			top: 0;
  			left: 0px;
  			font-size: 60px;
  			display: inline-block;
  			color: #17bed2;
  			content: '“';
 	}
}

#destinations {
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #2b3038;

	 
		h2 {
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 20px;
	 
	}

	h3 {
		margin-bottom: 25px;
		text-transform: uppercase;
		font-size: 1.15rem;
	}

	button {
		width: 100%;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.collapse.multi-collapse {
		margin-bottom: 20px;
	}

	.list-group-item {
		text-align: center;
		background-color: rgba(68, 74, 86, 0.81);
		color: #fff;
		margin-bottom: 3px;
	}
	.destinations-map {
		width: 100%;
		height: 600px;
	}
}
#feedback {
	background-color: #26292e;
	padding-bottom: 25px;
	padding-top: 50px;
	position: relative;
	top: 0;
	left: 0;

	.form {
		padding: 30px;
		background-color: rgba(68, 74, 86, 0.81);
		margin-bottom: 30px;
	}

	.form-control {
		color: #000;
		font-weight: 900;
	}
	
	.particles-js-canvas-el {
		top: 0;
		z-index: -1;
		left: 0;
		position: absolute;
	background-color: #26292e;
	}

	h2 {
		font-size: 2.3rem;
	}

	input {
		background: none;
		margin-bottom: 10px;
		border: 0px solid #eee;
		border-bottom-width: 2px;
		padding-left: 15px;

	}

	.input-group {
		outline: none;
	}

	.form-control:focus {
		box-shadow: none;
	}

	.input-group span {
		display: block;
		width: 30px;
		height: 30px;
		background-size: contain;
		 
	}
	
	.icon-user {
		background: transparent url(../img/user.svg) 0 0 no-repeat;
	}

	.icon-password {
		background: transparent url(../img/padlock.svg) 0 0 no-repeat;
	}
	
	.icon-name {
		background: transparent url(../img/user-name.svg) 0 0 no-repeat;
	}

	.icon-name-company {
		background: transparent url(../img/factory.svg) 0 0 no-repeat;
	}
	
	.icon-mail {
		background: transparent url(../img/mail.svg) 0 0 no-repeat;
	}

	.container-map {
		padding-bottom: 20px;
	}

	.contact-us {
		margin-top: 30px;
	}

	.contact-us-wrapper {
		padding-top: 20px;
		background-color: rgba(95,100,110,0.22);

		&>div:first-child {
			margin-bottom: 25px;
		}
	}
 
} 

#contact-us-map {
	width: 100%;
	height: 400px;
}

footer {
	padding-top: 40px;
	background-color: #2f3238;

	 

	a[href='#top'] {
		font-size: 1.4rem;
	}
}

#modals {
 
	 

	#servicesSlider1-9 {
		a {
			margin: 0 auto;
			max-width: 65px;
			display: block;
			margin-bottom: 20px;
			margin-top: 20px;
			font-weight: bold;
			color: #C58000;
   			padding: 5px 10px;
   			border-radius: 5px;
   			box-shadow: -1px 2px 7px black;
    		background-color: rgba(60, 60, 60, 0.74) !important;
    		border: 1px solid rgba(64, 64, 64, 0.4);
		}
	}

	.destinations-modals {
		color: #000;
		.modal.fade {
			padding-left: 16px;
		}
		.modal-dialog {
			max-width: none;
		}

		.modal-title {
			font-size: 1.7rem;
		}

		.bth-toggle {
			margin-top: 20px;
		}

		.tab-pane {
			margin-bottom: 20px;
			margin-top: 20px;
		}

		.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
			color: #30eada;
		}

		.caribbean-lists {
			 li {
			 	color: #fff;
			 	background: rgb(74, 73, 73);
   				border: 1px solid;
   				border-radius: 3px;
   				max-width: 200px;
   				text-align: center;
   				padding: 3px;
   				margin: 3px;
   				cursor: pointer;
   				transition:0.3s ease-out all;
			 }

			 li:hover {
			 	padding: 10px;
			 }
		}
	}

	.our-company-map {
		height: 300px;

	}

	.hidden {
		display: none;
	}
}



#cookies {
	 .modal-dialog {
	 	margin-top: 20%;
	 }
}
