@import "bootstrap";
@import "swiper";
@import "my-swiper";

header {
	text-transform: uppercase;	
	width: 100%;
	height: 100vh;
	font-weight: 900;
	background: transparent url(../img/bg-header.jpg) top left no-repeat;
	background-size: cover;
	
	.navbar {
		padding: 20px 10px;	
		background-color: #232323;
	}
	.navbar-brand,
	.nav-link {
		color:#fff;
	}


	.navbar-toggler-icon {
		    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	.header-content {
		display: flex;
   	 	align-items: center;
    	height: 100vh;

    	h1 {
    		font-size: 3.1rem;
    	}

    	p {
    		font-size: 1.2rem;
    	}

    	a {
    		font-weight: 900;
    	}
	}
}


#our-company {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #26292e;

	.card {
		background-color: #26292e; 
	}

	h2 {
		text-align: center;
		color: #fff;
		font-size: 3rem;
		margin-bottom: 40px;
	}
}

#services {
	
	background-color: #2f3238;
	
	.swiper-container {
		padding-top: 185px;
	padding-bottom: 100px;
	}

	.parallax-bg {
		padding-top: 80px;
	}
	h2 {
		text-align: center;
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 40px;
	}
}

@media(max-width:420px ) {
		.navbar-brand {font-size: 0.95rem; }
	}

#tracking {
	position: relative;
    z-index: 1;
    text-align: center;
    background: url(../img/tracking-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    &:before{
    	z-index: -1;
  	content: "";
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: rgba(0,0,0,0.49);
    }

    &:hover input {
    transform: scale(1.2);
    transition: transform 2s;
    }
	
	h2 {
		text-align: center;
		color: #fff;
		font-size: 3.2rem;
		margin-bottom: 10px;
	}
 

    .form-control {
    	border: 3px solid #4a4a4a !important;
    }

    .btn-warning {
    	color: #fff;
    	font-weight: 700;
    }

    p {
    	color: #dadada;
    	font-weight: 900;
    	font-size: 1.2rem;
    }
}