#cookies.modal.fade(tabindex='-1', role='dialog',  aria-hidden='true')
		.modal-dialog(role='document')
				.modal-content
					.modal-header
						h5.modal-title Cookie Policy
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p 
							| We use cookies to create the most secure and effective website possible for our customers. <br>Full details can be found <a href="https://cid.uk.com/Home/cookiePolicy">here</a>
					.modal-footer
						button.btn.btn-dark(type='button', data-dismiss='modal') Close