#destinations
	.container
		h2 Destinations
		h3 lists of destinations
		.row
			.col-sm-4
				button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#destinations-collapse1', aria-expanded='false') first list
				.collapse.multi-collapse#destinations-collapse1
					.list-group
						a.list-group-item.list-group-item-action(href='#our-company-australia',data-toggle="modal") Australia
						a.list-group-item.list-group-item-action(href='#our-company-canada',data-toggle="modal") Canada
						a.list-group-item.list-group-item-action(href='#our-company-china',data-toggle="modal") China
						a.list-group-item.list-group-item-action(href='#our-company-europe',data-toggle="modal") Europe
						a.list-group-item.list-group-item-action(href='#our-company-germany',data-toggle="modal") Germany
						a.list-group-item.list-group-item-action(href='#our-company-france',data-toggle="modal") France
			.col-sm-4
				button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#destinations-collapse2', aria-expanded='false') second list
				.collapse.multi-collapse#destinations-collapse2
					.list-group
						a.list-group-item.list-group-item-action(href='#our-company-hongkong',data-toggle="modal") Hong Kong
						a.list-group-item.list-group-item-action(href='#our-company-india',data-toggle="modal") India
						a.list-group-item.list-group-item-action(href='#our-company-japan',data-toggle="modal") Japan
						a.list-group-item.list-group-item-action(href='#our-company-macau',data-toggle="modal")  Macau
						a.list-group-item.list-group-item-action(href='#our-company-malaysia',data-toggle="modal") Malaysia
						a.list-group-item.list-group-item-action(href='#our-company-newzealand',data-toggle="modal") New Zealand
						a.list-group-item.list-group-item-action(href='#our-company-singapore',data-toggle="modal") Singapore
			.col-sm-4
				button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#destinations-collapse3', aria-expanded='false') third list
				.collapse.multi-collapse#destinations-collapse3
					.list-group
						a.list-group-item.list-group-item-action(href='#our-company-southafrica',data-toggle="modal") South Africa
						a.list-group-item.list-group-item-action(href='#our-company-americas',data-toggle="modal") South & Central America
						a.list-group-item.list-group-item-action(href='#our-company-spain',data-toggle="modal") Spain
						a.list-group-item.list-group-item-action(href='#our-company-switzerland',data-toggle="modal") Switzerland
						a.list-group-item.list-group-item-action(href='#our-company-taiwan',data-toggle="modal") Taiwan
						a.list-group-item.list-group-item-action(href='#our-company-caribbean',data-toggle="modal") The Caribbean
						a.list-group-item.list-group-item-action(href='#our-company-middleeast',data-toggle="modal") The Middle East
						a.list-group-item.list-group-item-action(href='#our-company-unitedkingdom',data-toggle="modal") United Kingdom
						a.list-group-item.list-group-item-action(href='#our-company-usa',data-toggle="modal") USA
		.row
			.destinations-map