#feedback.feedback
	.container  
		.row 
			.col-md-5.offset-md-1
				h2 Login
				form.form
					.form-group
						.input-group
							span.icon-user
							input.form-control(type='text', placeholder='Login')
						.input-group
							span.icon-password
							input.form-control(type='text', placeholder='Password')
					button.btn.btn-primary(type='submit') Login
			.col-md-5  
				h2 Contact us
				form.form
					.input-group
						span.icon-name
						input.form-control(type='text', placeholder='Name')
					.input-group
						span.icon-name-company
						input.form-control(type='text', placeholder='Company name')
					.input-group
						span.icon-mail
						input.form-control(type='text', placeholder='Your.mail@mail.box')
					.form-group
						label(for='your-message') Your message:
						textarea#your-message.form-control(rows='3', placeholder='Your message')
					button.btn.btn-primary(type='submit') Send
		.contact-us
			h2.pl-3 Connoisseur International Distribution
			.row.contact-us-wrapper
				.col-md-5.offset-md-1
					ul.contact-list
						li Connoisseur International Distribution Ltd
						li Unit 1 Beta Way
						li Thorpe Industrial Park
						li EGHAM
						li Surrey
						li TW20 8RE
						li Great Britain
					a(href='tel:+44(0)1895 438822') Tel: +44(0)1895 438822<br>
					a(href='#') Fax: +44(0)1895 438833
				.col-md-6.container-map
					#map