footer
	.container-fluid
		.row.align-items-center
			.col-md-2.text-left.mb-4
				a(href='#top') Connoisseur
			.col-md-8
				p.text-center Copyright © Connoisseur International Distribution 2017 | Designed & Developed by CDFAppsl
			.col-md-2.text-right
				p
					a(href='#') Terms & Conditions
					br
					a(href='#') Cookie Policy