header
	nav.navbar.navbar-expand-lg.fixed-top
		.container-fluid
			a(href="#").navbar-brand Connoisseur International
			button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarToggle')
				span.navbar-toggler-icon
			#navbarToggle.collapse.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.active
						a.nav-link(href='#top') Home <span class="sr-only"></span>
					li.nav-item
						a.nav-link(href='#our-company') Our company
					li.nav-item
						a.nav-link(href='#services') Services
					li.nav-item
						a.nav-link(href='#destinations') Destinations
					li.nav-item
						a.nav-link(href='#tracking') Tracking
					li.nav-item
						a.nav-link(href='#feedback') Login
					li.nav-item
						a.nav-link(href='#about') About us
					li.nav-item
						a.nav-link(href='#feedback') Contact us 
	div.header-content
		div.container
			.row.text-center
				.col-12
					h1 We are a global provider of logistical solutions
				.col-12
					p Do not worry. We will deliver your product
				.col-12
					a(class="btn btn-primary" href='#tracking' ) Tracking
