div#modals
	#our-company-1.modal.fade(tabindex='-1', role='dialog',  aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title International Distribution
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					p  Connoisseur International was incorporated in 1997. The directors each with over 25 years in the industry shared a vision to create a multimodal forwarding and logistics company for the 21st Century. The core principles of the company was to provide clients with highly experienced, high quality service tailored to our customers needs and expectations, but with the flexibility to meet the demands of today’s world.

					p The company operates a vast array of services, of which many are listed below:
					ul
						li Worldwide Airfreight Services – Export and Import
						li Worldwide LCL/FCL Ocean Services – Export and Import
						li TIR Overland Road Services to Europe
						li Door to Door Express Courier
						li UK Domestic Parcel and Pallet Deliveries
						li  Project Cargo/ Chartering/ Emergency Relief Cargo/ AOG/ Perishables/ Out of Gauge/ Dangerous Goods
						li Removal/ Relocation
						li In House Customs Brokerage
						li Specialist Packing (on-site if required)
					p The company are members of the IATA, the British International Freight Association, and are department of UK transport regulated with our own on-site x ray facility.
				.modal-footer
					button.btn.btn-dark(type='button', data-dismiss='modal') Close

	#our-company-2.modal.fade(tabindex='-1', role='dialog',  aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title International International Fine Art
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					p  As I enter my 25th year in the wine industry, it would be fair to say that during this time I have seen the industry expand, develop and evolve. When we started Connoisseur it was to offer a modern, professional and flexible alternative to those already on the market. As time has passed, the market has naturally changed. Connoisseur has continued to develop and expand its portfolio increasing the type and number of services it offers, whilst maintaining its commitment to offering a high quality professional and highly dedicated logistical solution. The last seven years has seen the Asian market develop into a huge consumer of wine. We have responded to this by adding scheduled LCL refrigerated ocean services to:
					ul
						li Hong Kong
						li Singapore,Taiwan
						li Macau
						li Australasia.
					p In addition, we have developed a service to:
					ul
						li Malaysia and continue to invest and research potential services to
						li Thailand
						li Cambodia
						li Myanmar and
						li the Philippines.
					p Our investment in technology and our new website reflects our ongoing commitment to offer a transparent and professional service provider recognising that this is a sensitive product and deserves to be treated in that manner.
				.modal-footer
					button.btn.btn-dark(type='button', data-dismiss='modal') Close

	#our-company-3.modal.fade(tabindex='-1', role='dialog',  aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title International Wines
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					p  Connoisseur International was incorporated in 1997. The directors each with over 25 years in the industry shared a vision to create a multimodal forwarding and logistics company for the 21st Century. The core principles of the company was to provide clients with highly experienced, high quality service tailored to our customers needs and expectations, but with the flexibility to meet the demands of today’s world.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					p If you wish to contact Connoisseur International Fine Art:
					p Please call: 0208-572-2955
					a.link(href='http://cifa-uk.com') Or follow the link to: http://cifa-uk.com/
					p
						address.gmap-address
							strong Connoisseur International Fine Art Ltd<br>Unit 4, Heathrow International Trading Estate,<br>Green Lane,<br>Hounslow, Middlesex<br>TW4 6HB, England<br>
							a.link(href='tel:+4402085722955') Tel: +44 020 8572 2955
							br
							a.link(href='#')  Fax: +44 020 8577 3893
							br
							a.link(href='mailto:office@cifa-uk.com') mail: office@cifa-uk.com
							br
				.modal-footer
					button.btn.btn-dark(type='button', data-dismiss='modal') Close 