section#our-company
	.container-fluid
		h2 Our company
		.card-deck
			.card
				img.card-img-top(src="assets/img/logo_dark.png", alt="Logo International Distribution")
				.card-body
					h4.card-title International Distribution
					p.card-text Connoisseur International was incorporated in 1997. The directors each with over 25 years in the industry shared a vision to create...
				.card-footer
					button(data-target='#our-company-1', class="btn btn-primary",data-toggle="modal") Read more 
			.card
				img.card-img-top(src="assets/img/logo-fine-art.png", alt="Logo International Fine Art")
				.card-body
					h4.card-title International Fine Art
					p.card-text As I enter my 25th year in the wine industry, it would be fair to say that during this time I have seen the industry expand, develop...
				.card-footer
					button(data-target='#our-company-3', class="btn btn-primary",data-toggle="modal") Read more 
			.card
				img.card-img-top(src="assets/img/logo_wine.png", alt="Logo International Wines")
				.card-body
					h4.card-title International Wines
					p.card-text Our website would not be complete without mentioning our sister company Connoisseur International Fine Art. The company was incorporated...
				.card-footer
					button(data-target='#our-company-2', class="btn btn-primary",data-toggle="modal") Read more