section#services
	h2 Services
	.swiper-container
		.swiper-wrapper
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/1)') 
				i.service-icon
				h3 Special Services
				p.margin-b-10 Connoisseur operate a specialist next flight-out...
				a.bth.link.link.hvr-buzz(data-toggle='modal', data-target='#servicesSlider1-1') Read more

			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/2)')
				i.service-icon
				h3 Special Services
				p.margin-b-10 Connoisseur operate a specialist next flight-out...
				a.bth.link.link.hvr-buzz(data-toggle='modal', data-target='#servicesSlider1-1') Read more
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/3)')
				i.service-icon
				h3 Special Services
				p.margin-b-10 Connoisseur operate a specialist next flight-out...
				a.bth.link.link.hvr-buzz(data-toggle='modal', data-target='#servicesSlider1-1') Read more
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/4)')
				i.service-icon
				h3 Special Services
				p.margin-b-10 Connoisseur operate a specialist next flight-out...
				a.bth.link.link.hvr-buzz(data-toggle='modal', data-target='#servicesSlider1-1') Read more
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/5)')
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/6)')
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/7)')
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/8)')
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/9)')
			.swiper-slide(style='background-image:url(http://lorempixel.com/600/600/nature/10)')

		.swiper-pagination
