section#services
	.swiper-container
		.parallax-bg(data-swiper-parallax="-25%")
			h2 Services
		.swiper-wrapper
			.swiper-slide
				img(src="https://cid.uk.com/images/services/special-services.png", alt="Icon")
				h3 Special Services
				p.margin-b-10 Connoisseur operate a specialist next flight-out...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-1') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/relocation.png", alt="Icon")
				h3 Relocation
				p.margin-b-10 At Connoisseur, we are pleased to offer this service as part of our...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-2') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/auction-wines.png", alt="Icon")
				h3 Auction Wines
				p.margin-b-10 Connoisseur handle consolidate and ship wines from all the auction...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-3') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/road-freight.png", alt="Icon")
				h3 Overland Freight
				p.margin-b-10 Connoisseur are able to facilitate the movement of your goods by truck...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-6') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/air-freight-ico.png", alt="Icon")
				h3 Air Freight
				p.margin-b-10At Connoisseur we have a highly experienced and knowledgeable...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-10') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/courier.png", alt="Icon")
				h3 Worldwide Courier
				p.margin-b-10 Connoisseur International operate a worldwide express service...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-7') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/sea-freight.png", alt="Icon")
				h3 Sea Freight
				p.margin-b-10 The UK is a major gateway for the movement of goods by ocean...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-8') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/import.png", alt="Icon")
				h3 Import
				p.margin-b-10At Connoisseur, we offer a fully integrated import and Custom’s,...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-11') Read more	
			.swiper-slide
				img(src="https://cid.uk.com/images/services/mib.png", alt="Icon")
				h3 Private Aircraft/MIB
				p.margin-b-10 As the fine wine market continues to grow and evolve, as does the...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-4') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/luxury-yachts.png", alt="Icon")
				h3 Luxury Yachts
				p.margin-b-10 The fundamental principles which dictated the inception of Connoisseur was to provide...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-5') Read more
			.swiper-slide
				img(src="https://cid.uk.com/images/services/eCouriers.png", alt="Icon")
				h3 e-Couriers
				p.margin-b-10Our service to the Caribbean, and the Islands is managed and...
				a.btn.btn-warning(data-toggle='modal', data-target='#servicesSlider1-9') Read more
		.swiper-pagination
	.dropdown
		button#dropdownServicesButton.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Easy access
		.dropdown-menu(aria-labelledby='dropdownServicesButton')
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-1') Special Services
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-2') Relocation
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-3') Auction Wines
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-6') Overland Freight
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-10') Air Freight
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-7') Worldwide Courier
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-8') Sea Freight
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-11') Import
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-4') Private Aircraft/MIB
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-5') Luxury Yachts
			a.dropdown-item(data-toggle='modal', data-target='#servicesSlider1-9') e-Couriers

