section#tracking.text-center
	h2 Tracking
	.container
		.row
			.col-sm-6.offset-sm-3
				form(action="#")
					.form-group
						input(type="search",class="form-control",aria-describedby="emailHelp", placeholder="Our ref")
						p Example (HE123456)
						input(type="submit", value="Tracking").btn.btn-warning 